In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Flight_Price_Dataset_Q2.csv")

In [3]:
df

,departure_time,stops,arrival_time,class,duration,days_left,price
0,Evening,zero,Night,Economy,2.17,1,5953
1,Early_Morning,zero,Morning,Economy,2.33,1,5953
2,Early_Morning,zero,Early_Morning,Economy,2.17,1,5956
3,Morning,zero,Afternoon,Economy,2.25,1,5955
4,Morning,zero,Morning,Economy,2.33,1,5955
...,...,...,...,...,...,...,...
270133,Early_Morning,one,Night,Business,17.25,49,68739
270134,Morning,one,Evening,Business,10.08,49,69265
270135,Afternoon,one,Night,Business,10.42,49,77105
270136,Early_Morning,one,Evening,Business,10.00,49,81585
270137,Morning,one,Evening,Business,10.08,49,81585

In [4]:
df['class'].value_counts()

class
Economy     185998
Business     84140
Name: count, dtype: int64

In [5]:
df['class'] = df['class'].map({'Economy' : 0, 'Business' : 1})

In [6]:
df

       departure_time stops   arrival_time  class  duration  days_left  price
0             Evening  zero          Night      0      2.17          1   5953
1       Early_Morning  zero        Morning      0      2.33          1   5953
2       Early_Morning  zero  Early_Morning      0      2.17          1   5956
3             Morning  zero      Afternoon      0      2.25          1   5955
4             Morning  zero        Morning      0      2.33          1   5955
...               ...   ...            ...    ...       ...        ...    ...
270133  Early_Morning   one          Night      1     17.25         49  68739
270134        Morning   one        Evening      1     10.08         49  69265
270135      Afternoon   one          Night      1     10.42         49  77105
270136  Early_Morning   one        Evening      1     10.00         49  81585
270137        Morning   one        Evening      1     10.08         49  81585

[270138 rows x 7 columns]

In [7]:
df['departure_time'].value_counts()

departure_time
Morning          64036
Early_Morning    60112
Evening          58586
Night            43267
Afternoon        42951
Late_Night        1186
Name: count, dtype: int64

In [8]:
df['departure_time'] = df['departure_time'].map({'Early_Morning' : 0, 'Morning' : 1, 'Afternoon' : 2,
                                                 'Evening' : 3, 'Night' : 4, 'Late_Night' : 5})

In [9]:
df['departure_time'].value_counts()

departure_time
1    64036
0    60112
3    58586
4    43267
2    42951
5     1186
Name: count, dtype: int64

In [10]:
df

        departure_time stops   arrival_time  class  duration  days_left  price
0                    3  zero          Night      0      2.17          1   5953
1                    0  zero        Morning      0      2.33          1   5953
2                    0  zero  Early_Morning      0      2.17          1   5956
3                    1  zero      Afternoon      0      2.25          1   5955
4                    1  zero        Morning      0      2.33          1   5955
...                ...   ...            ...    ...       ...        ...    ...
270133               0   one          Night      1     17.25         49  68739
270134               1   one        Evening      1     10.08         49  69265
270135               2   one          Night      1     10.42         49  77105
270136               0   one        Evening      1     10.00         49  81585
270137               1   one        Evening      1     10.08         49  81585

[270138 rows x 7 columns]

In [11]:
df['arrival_time'].value_counts()

arrival_time
Night            82413
Evening          70494
Morning          56438
Afternoon        34274
Early_Morning    13889
Late_Night       12630
Name: count, dtype: int64

In [12]:
df['arrival_time'] = df['arrival_time'].map({'Early_Morning' : 0, 'Morning' : 1, 'Afternoon' : 2,
                                                 'Evening' : 3, 'Night' : 4, 'Late_Night' : 5})

In [13]:
df['arrival_time'].value_counts()

arrival_time
4    82413
3    70494
1    56438
2    34274
0    13889
5    12630
Name: count, dtype: int64

In [14]:
df

        departure_time stops  arrival_time  class  duration  days_left  price
0                    3  zero             4      0      2.17          1   5953
1                    0  zero             1      0      2.33          1   5953
2                    0  zero             0      0      2.17          1   5956
3                    1  zero             2      0      2.25          1   5955
4                    1  zero             1      0      2.33          1   5955
...                ...   ...           ...    ...       ...        ...    ...
270133               0   one             4      1     17.25         49  68739
270134               1   one             3      1     10.08         49  69265
270135               2   one             4      1     10.42         49  77105
270136               0   one             3      1     10.00         49  81585
270137               1   one             3      1     10.08         49  81585

[270138 rows x 7 columns]